/* Animação div formularios */

@keyframes escorrega {
    0% {margin-top: -800px;}
    100%{margin-top: 0px;}
    
}

.formulario{
    animation: escorrega 1s ease ;
}

/* Animação de "abertura" da div topo */

@keyframes abre {
    0%{width: 0%; height: 0%; opacity: 0;}
    33%{width: 0%; height: 0%;opacity: 0;}
    50%{opacity: 100;}
    100%{width: 100%; height: 100%;}
}

.topo{
    animation: abre 1.3s ease-out;
}

/* Animação de Fade-in das letras */

@keyframes aparece {
    0%{opacity: 0%;}
    33%{opacity: 0%;} 
    100%{opacity: 100%;}   
}

h1,img {
    animation: aparece 2s ease;
}